<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></center><br />

	<div class="row">
		<div class="col-sm-12">

			<div class="cmd tooltips cmd-widget cursor " data-type="info" data-subtype="binary" data-cmd_id="#title_id#">
				<div class="title ">
					<div class="cmdName" style="text-align:center;font-weight:bold">#title#</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="content-sm ">
				<div class="cmdName"><img src="#urlToImage#" style="display: block; max-height: 172px; max-width: 192px;" data-imgready="1"></div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="content-sm ">
				<div class="cmdName">#content#</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="content-sm ">
				<div class="cmdName" style="text-align:right;font-weight:bold"><a target="_blank" href="#url#">#source#</a></div>
			</div>
		</div>
	</div>
</div>
